# Usar el modelo desplegado

**Cargar datos de prueba**

**Librerías**

In [2]:
import pandas as pd
import json
import requests

**Leer datos de prueba**

In [4]:
testAPI_data = pd.read_csv("testAPI.csv")
test_dict = testAPI_data.to_dict(orient='list')

testAPI_data

,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax
0,0.401745,0.442270,0.448579
1,0.409204,0.460914,0.453504
2,0.532394,0.580680,0.574281
3,0.497733,0.562309,0.553616
4,0.471993,0.536851,0.524975

**Convertir a formato json para utilizar la API**

In [5]:
data_json = json.dumps({"data": [test_dict]})

suri = open("uri.json", "r")
scoring_uri = json.load(suri)["URI"][0]
suri.close()

**Utilizar modelo desplegado a través de API**

In [9]:
headers = {"Content-Type": "application/json"}

response = requests.post(scoring_uri, data=data_json, headers=headers)


if response.status_code == 200:
  result = json.loads(response.json())
  print(result)
  testAPI_data["API prediction"] = result['result']
  display(testAPI_data)
else:
  print(f"Error: {response.text}")

{'result': [0, 0, 0, 0, 0]}

,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,API prediction
0,0.401745,0.442270,0.448579,0
1,0.409204,0.460914,0.453504,0
2,0.532394,0.580680,0.574281,0
3,0.497733,0.562309,0.553616,0
4,0.471993,0.536851,0.524975,0